.contacto {
    background-image: url(../Assets/coctelBackground.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position:center;
}

.contactoFooter {
    text-decoration: none;
    color: $amarillo;
    font-size: 25px;
}