.tituloHome {

    @if $animal==lobo {
        font-size: 35px;
        color: green;
        background-color: violet;
        border: 12px solid $negro;
    }

    @else {
        font-size: 40px;
        background-color: $amarillo;
        border-radius: 45%;
        margin-top: 15px;
        color: $negro;
    }

}

.tituloCarrusel {
        background-color: $gris;
        border-radius: 25% 0;
        margin-top: 15px;
        color: $amarillo;
        font-size: 4vw;
}

#carouselExampleCaptions {
    margin-inline: 120px;
}

@media (max-width: 500px) {
    .tituloHome {
        font-size: 8vw;
    }
}

@media (max-width: 600px) {
    .carruselSize {
        min-width: 300px;
        min-height: auto;
    }
}

@media (max-width: 400px) {
    .carruselSize {
        min-width: 230px;
        min-height: auto;
    }
}