.tituloDrinks {
    font-size: 40px;
    background-color: $amarillo;
    border-radius: 30% 0%;
    margin-top: 9px;
}

@media (max-width: 500px) {
  .tituloDrinks {
      font-size: 8vw;
  }
}

.grilla3 {
    min-height: 600px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 380px);
   /*  grid-gap: 10px; */
}

.imgGrilla3 {
    border: 2px solid #000;
    background-image: url(../Assets/img1.jpg);
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.9s;
}

@media only screen and (max-width: 900px) {
  .imgGrilla3 {
      background-size: cover;
  }
}

.imgGrilla3:hover {
    /* transition: all 0.9s; */
    background-size: 115%;
    @include saturate;
}


@for $i from 1 through 6 {
    .item#{$i} {
        background-color: lighten($negro, $i * 5%);
        background-image: url(../Assets/img#{$i}.jpg);
    }
}

.item1 {
    color: #000; /* Color del texto */
    font-size: 40px;
    font-weight: bold
  }
  
  .item1:hover::after {
    content: "Coctel old fashioned"; /* Texto que se mostrará al pasar el mouse */
    position: absolute;
    top: 70%; /* Puedes ajustar la posición vertical del texto */
    padding: 5px; /* Espacio alrededor del texto */
    background-color: $amarillo;
  }
.item2 {
    color: #000; /* Color del texto */
    font-size: 40px;
    font-weight: bold
  }
  
  .item2:hover::after {
    content: "Café Irlandés"; /* Texto que se mostrará al pasar el mouse */
    position: absolute;
    top: 70%; /* Puedes ajustar la posición vertical del texto */
    padding: 5px; /* Espacio alrededor del texto */
    background-color: $amarillo;
  }
.item3 {
    color: #000; /* Color del texto */
    font-size: 40px;
    font-weight: bold
  }
  
  .item3:hover::after {
    content: "John Collins"; /* Texto que se mostrará al pasar el mouse */
    position: absolute;
    top: 70%; /* Puedes ajustar la posición vertical del texto */
    padding: 5px; /* Espacio alrededor del texto */
    background-color: $amarillo;
  }
.item4 {
    color: #000; /* Color del texto */
    font-size: 40px;
    font-weight: bold
  }
  
  .item4:hover::after {
    content: "Whisky sour"; /* Texto que se mostrará al pasar el mouse */
    position: absolute;
    top: 70%; /* Puedes ajustar la posición vertical del texto */
    padding: 5px; /* Espacio alrededor del texto */
    background-color: $amarillo;
  }
.item5 {
    color: #000; /* Color del texto */
    font-size: 40px;
    font-weight: bold
  }
  
  .item5:hover::after {
    content: "Cóctel Manhattan"; /* Texto que se mostrará al pasar el mouse */
    position: absolute;
    top: 70%; /* Puedes ajustar la posición vertical del texto */
    padding: 5px; /* Espacio alrededor del texto */
    background-color: $amarillo;
  }
.item6 {
    color: #000; /* Color del texto */
    font-size: 40px;
    font-weight: bold
  }
  
  .item6:hover::after {
    content: "Mint Julep"; /* Texto que se mostrará al pasar el mouse */
    position: absolute;
    top: 70%; /* Puedes ajustar la posición vertical del texto */
    padding: 5px; /* Espacio alrededor del texto */
    background-color: $amarillo;
  }

  .bordeAmarillo {
    border: 2px solid $amarillo;
  }

  .text-box2 {
    color: $amarillo;
    padding: 20px;
  }
