@charset "UTF-8";
/* * {

} */
/* Variables */
/* Variables */
/* mixins */
/* mixins */
.tituloDrinks {
  font-size: 40px;
  background-color: #FFD15C;
  border-radius: 30% 0%;
  margin-top: 9px;
}

@media (max-width: 500px) {
  .tituloDrinks {
    font-size: 8vw;
  }
}
.grilla3 {
  min-height: 600px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(2, 380px);
  /*  grid-gap: 10px; */
}

.imgGrilla3 {
  border: 2px solid #000;
  background-image: url(../Assets/img1.jpg);
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.9s;
}

.imgGrilla3:hover {
  /* transition: all 0.9s; */
  background-size: 115%;
  filter: saturate(150%);
}

.item1 {
  background-color: #0d0d0d;
  background-image: url(../Assets/img1.jpg);
}

.item2 {
  background-color: #1a1a1a;
  background-image: url(../Assets/img2.jpg);
}

.item3 {
  background-color: #262626;
  background-image: url(../Assets/img3.jpg);
}

.item4 {
  background-color: #333333;
  background-image: url(../Assets/img4.jpg);
}

.item5 {
  background-color: #404040;
  background-image: url(../Assets/img5.jpg);
}

.item6 {
  background-color: #4d4d4d;
  background-image: url(../Assets/img6.jpg);
}

.item1 {
  color: #000; /* Color del texto */
  font-size: 40px;
  font-weight: bold;
}

.item1:hover::after {
  content: "Coctel old fashioned"; /* Texto que se mostrará al pasar el mouse */
  position: absolute;
  top: 70%; /* Puedes ajustar la posición vertical del texto */
  padding: 5px; /* Espacio alrededor del texto */
  background-color: #FFD15C;
}

.item2 {
  color: #000; /* Color del texto */
  font-size: 40px;
  font-weight: bold;
}

.item2:hover::after {
  content: "Café Irlandés"; /* Texto que se mostrará al pasar el mouse */
  position: absolute;
  top: 70%; /* Puedes ajustar la posición vertical del texto */
  padding: 5px; /* Espacio alrededor del texto */
  background-color: #FFD15C;
}

.item3 {
  color: #000; /* Color del texto */
  font-size: 40px;
  font-weight: bold;
}

.item3:hover::after {
  content: "John Collins"; /* Texto que se mostrará al pasar el mouse */
  position: absolute;
  top: 70%; /* Puedes ajustar la posición vertical del texto */
  padding: 5px; /* Espacio alrededor del texto */
  background-color: #FFD15C;
}

.item4 {
  color: #000; /* Color del texto */
  font-size: 40px;
  font-weight: bold;
}

.item4:hover::after {
  content: "Whisky sour"; /* Texto que se mostrará al pasar el mouse */
  position: absolute;
  top: 70%; /* Puedes ajustar la posición vertical del texto */
  padding: 5px; /* Espacio alrededor del texto */
  background-color: #FFD15C;
}

.item5 {
  color: #000; /* Color del texto */
  font-size: 40px;
  font-weight: bold;
}

.item5:hover::after {
  content: "Cóctel Manhattan"; /* Texto que se mostrará al pasar el mouse */
  position: absolute;
  top: 70%; /* Puedes ajustar la posición vertical del texto */
  padding: 5px; /* Espacio alrededor del texto */
  background-color: #FFD15C;
}

.item6 {
  color: #000; /* Color del texto */
  font-size: 40px;
  font-weight: bold;
}

.item6:hover::after {
  content: "Mint Julep"; /* Texto que se mostrará al pasar el mouse */
  position: absolute;
  top: 70%; /* Puedes ajustar la posición vertical del texto */
  padding: 5px; /* Espacio alrededor del texto */
  background-color: #FFD15C;
}

.bordeAmarillo {
  border: 2px solid #FFD15C;
}

.text-box2 {
  color: #FFD15C;
  padding: 20px;
}

.tituloHome {
  font-size: 40px;
  background-color: #FFD15C;
  border-radius: 45%;
  margin-top: 15px;
  color: #000;
}

.tituloCarrusel {
  background-color: #333;
  border-radius: 25% 0;
  margin-top: 15px;
  color: #FFD15C;
  font-size: 4vw;
}

#carouselExampleCaptions {
  margin-inline: 120px;
}

@media (max-width: 500px) {
  .tituloHome {
    font-size: 8vw;
  }
}
@media (max-width: 600px) {
  .carruselSize {
    min-width: 300px;
    min-height: auto;
  }
}
@media (max-width: 400px) {
  .carruselSize {
    min-width: 230px;
    min-height: auto;
  }
}
.vodka {
  background-image: url(../Assets/6268.jpg);
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.tituloVodka {
  color: #FFD15C;
  font-size: 40px;
  background-color: #000;
  border-radius: 30% 0%;
  margin-top: 9px;
}

.grilla4 {
  min-height: 600px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(2, 380px);
  /*  grid-gap: 10px; */
}

.imgGrilla4 {
  border: 2px solid #000;
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.9s;
}

.imgGrilla4:hover {
  background-size: 115%;
  filter: saturate(150%);
}

.vodkaItem1 {
  background-color: #ffca43;
  background-image: url(../Assets/img11.jpg);
}

.vodkaItem2 {
  background-color: #ffc329;
  background-image: url(../Assets/img12.jpg);
}

.vodkaItem3 {
  background-color: #ffbb10;
  background-image: url(../Assets/img13.jpg);
}

.vodkaItem4 {
  background-color: #f5b000;
  background-image: url(../Assets/img14.jpg);
}

.vodkaItem5 {
  background-color: #dc9e00;
  background-image: url(../Assets/img15.jpg);
}

.vodkaItem6 {
  background-color: #c28b00;
  background-image: url(../Assets/img16.jpg);
}

.backgroundColor {
  background-color: #333;
}

.backgroundColor2 {
  background-color: rgba(255, 209, 92, 0.8274509804);
  color: #000;
  margin: 10px;
  border-radius: 10px;
}

.bordeNegro {
  border: 4px solid #000;
}

.vodkaItem1 {
  color: #FFD15C; /* Color del texto */
  font-size: 35px;
  font-weight: bold;
}

.vodkaItem1:hover::after {
  content: "Caipiroska"; /* Texto que se mostrará al pasar el mouse */
  position: absolute;
  top: 70%; /* Puedes ajustar la posición vertical del texto */
  padding: 5px; /* Espacio alrededor del texto */
  background-color: #000;
}

.vodkaItem2 {
  color: #FFD15C; /* Color del texto */
  font-size: 35px;
  font-weight: bold;
}

.vodkaItem2:hover::after {
  content: "Cosmopolitan"; /* Texto que se mostrará al pasar el mouse */
  position: absolute;
  top: 70%; /* Puedes ajustar la posición vertical del texto */
  padding: 5px; /* Espacio alrededor del texto */
  background-color: #000;
}

.vodkaItem3 {
  color: #FFD15C; /* Color del texto */
  font-size: 35px;
  font-weight: bold;
}

.vodkaItem3:hover::after {
  content: "Sex on the beach"; /* Texto que se mostrará al pasar el mouse */
  position: absolute;
  top: 70%; /* Puedes ajustar la posición vertical del texto */
  padding: 5px; /* Espacio alrededor del texto */
  background-color: #000;
}

.vodkaItem4 {
  color: #FFD15C; /* Color del texto */
  font-size: 35px;
  font-weight: bold;
}

.vodkaItem4:hover::after {
  content: "Destornillador"; /* Texto que se mostrará al pasar el mouse */
  position: absolute;
  top: 70%; /* Puedes ajustar la posición vertical del texto */
  padding: 5px; /* Espacio alrededor del texto */
  background-color: #000;
}

.vodkaItem5 {
  color: #FFD15C; /* Color del texto */
  font-size: 35px;
  font-weight: bold;
}

.vodkaItem5:hover::after {
  content: "White russian"; /* Texto que se mostrará al pasar el mouse */
  position: absolute;
  top: 70%; /* Puedes ajustar la posición vertical del texto */
  padding: 5px; /* Espacio alrededor del texto */
  background-color: #000;
}

.vodkaItem6 {
  color: #FFD15C; /* Color del texto */
  font-size: 35px;
  font-weight: bold;
}

.vodkaItem6:hover::after {
  content: "Bloody mary"; /* Texto que se mostrará al pasar el mouse */
  position: absolute;
  top: 70%; /* Puedes ajustar la posición vertical del texto */
  padding: 5px; /* Espacio alrededor del texto */
  background-color: #000;
}

body {
  background-color: rgb(12, 12, 12);
  font-family: "Poppins", sans-serif;
}

.drinkles {
  height: auto !important;
  width: 5rem !important;
  transition: 0.7s;
}

.drinkles:hover {
  transform: scale(1.09);
}

/* NAVBAR */
.nav-link {
  color: #FFD15C;
}

.dropdown-item {
  color: #FFD15C;
}

.dropdown-item:hover {
  color: #FFD15C;
  background-color: #000;
}

/* NAVBAR */
img,
iframe {
  float: inline-start;
  margin-right: 2rem;
  margin-bottom: 10px;
  max-width: 100%;
}

h1 {
  text-align: center;
}

.text-box {
  color: white;
  padding: 25px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.contacto {
  background-image: url(../Assets/coctelBackground.jpg);
  background-size: cover;
}

.contactoFooter {
  text-decoration: none;
  color: #FFD15C;
  font-size: 25px;
}

.img {
  height: auto;
  width: 100%;
}

p,
ul {
  font-size: 20px;
}

.titulos {
  background-color: #FFD15C;
  font-size: 40px;
}

@media (max-width: 500px) {
  .titulos {
    font-size: 9vw;
  }
}
.destilacion {
  height: 650px;
  width: auto;
}

@media only screen and (max-width: 780px) {
  .destilacion {
    height: auto;
  }
}
/* GRILLA */
.grilla {
  display: grid;
  grid-template-rows: 10% 90%;
  grid-template-columns: 50% 50%;
  grid-template-areas: "clas clas" "clas_img clas_list";
  grid-gap: 50px 10px;
}

.clas_coctel {
  margin: 0 !important;
  grid-area: clas;
  font-size: 30px;
}

.clas_coctel_img {
  grid-area: clas_img;
}

.clas_coctel_list {
  grid-area: clas_list;
}

@media only screen and (max-width: 994px) {
  .clas_coctel {
    overflow: auto;
  }
}
@media only screen and (max-width: 966px) and (min-width: 560px) {
  .grilla {
    grid-template-rows: 20% 40% 40%;
    grid-template-columns: 100%;
    grid-template-areas: "clas" "clas_img" "clas_list";
  }
  .clas_coctel_list {
    overflow: auto;
    padding-bottom: 20px;
  }
  .clas_coctel_img {
    padding-top: 10px;
    overflow: auto;
  }
}
@media only screen and (max-width: 560px) {
  .grilla {
    grid-template-rows: 20% 30% 50%;
    grid-template-columns: 100%;
    grid-template-areas: "clas" "clas_img" "clas_list";
  }
  .clas_coctel_list {
    overflow: auto;
    padding-bottom: 20px;
  }
  .clas_coctel_img {
    padding-top: 10px;
    overflow: auto;
  }
}
/* GRILLA */
/* GRILLA 2 */
.grilla2 {
  display: grid;
  grid-template-rows: 200px 200px 150px 150px;
  grid-template-columns: 3fr 3fr 3fr 3fr;
  grid-template-areas: "img1 img2 img5 img4" "img1 img2 img5 img4" "img1 img3 img7 img6" "img1 img3 img7 img6";
  grid-gap: 10px;
  padding-inline: 20px;
  /* padding: 20px; */
  /* background-color: #d15cff; */
}

.img1 {
  grid-area: img1;
  background-image: url(../Assets/shirleyTemple.jpg);
}

.img2 {
  grid-area: img2;
  background-image: url(../Assets/MicheladaSinAlcohol.jpg);
}

.img3 {
  grid-area: img3;
  background-image: url(../Assets/LimonadaDePiña.jpg);
}

.img4 {
  grid-area: img4;
  background-image: url(../Assets/LimonadaALaAmericana.jpg);
}

.img5 {
  grid-area: img5;
  background-image: url(../Assets/LimonadaDeFrambuesa.jpg);
}

.img6 {
  grid-area: img6;
  background-image: url(../Assets/SmoothieDeMango.jpg);
}

.img7 {
  grid-area: img7;
  background-image: url(../Assets/TéVerde.jpg);
  background-position: bottom;
}

.imgGrilla2 {
  border: 5px solid white;
  background-size: cover;
  background-position: center;
  border-radius: 7px;
  transition: all 0.4s;
}

.imgGrilla2:hover {
  transform: scale(1.05);
  filter: contrast(105%);
}

@media only screen and (max-width: 900px) {
  .grilla2 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 200px);
    grid-template-areas: "img1 img2" "img1 img3" "img4 img5" "img6 img7";
  }
}
/* GRILLA 2*/
.formulario {
  padding-left: 500px;
  padding-right: 500px;
  padding-top: 70px;
}

/* COCTELES SIN ALCOHOL */
@media only screen and (max-width: 768px) {
  .titulos {
    text-align: center;
  }
}
.imgCoctelSinAlcochol {
  height: 700px;
}

/* COCTELES SIN ALCOHOL */

/*# sourceMappingURL=estilos.css.map */
