/* * {
    
} */

/* Variables */

$amarillo: #FFD15C;
$negro: #000;
$gris: #333;
$animal: perro;

/* Variables */

/* mixins */

@mixin saturate{
    filter: saturate(150%);
}

/* mixins */

@import 'whiskey';
@import 'home';
@import 'vodka';


body {
    background-color: rgb(12, 12, 12);
    font-family: 'Poppins', sans-serif;
}

.drinkles {
    height: auto !important;
    width: 5rem !important;
    transition: 0.7s;
}

.drinkles:hover {
    transform: scale(1.09);
}

/* NAVBAR */
.nav-link {
    color: $amarillo;
}

.dropdown-item {
    color: $amarillo;
}

.dropdown-item:hover {
    color: $amarillo;
    background-color: $negro;
}
    
/* NAVBAR */

img,
iframe {
    float: inline-start;
    margin-right: 2rem;
    margin-bottom: 10px;
    max-width: 100%;
}

h1 {
    text-align: center;
}

.text-box {
    color: white;
    padding: 25px;
}

footer {
    background-color: $gris;
    color: #fff;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.contacto {
    background-image: url(../Assets/coctelBackground.jpg);
    background-size: cover;
}

.contactoFooter {
    text-decoration: none;
    color: $amarillo;
    font-size: 25px;
}

.img {
    height: auto;
    width: 100%;
}

p,
ul {
    font-size: 20px;
}

.titulos {
    background-color: $amarillo;
    font-size: 40px;
}

@media (max-width: 500px) {
    .titulos {
        font-size: 9vw;
    }
  }

.destilacion {
    height: 650px;
    width: auto;
}

@media only screen and (max-width: 780px) {
    .destilacion {
        height: auto;
    }
}

/* GRILLA */
.grilla {
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-columns: 50% 50%;
    grid-template-areas:
        "clas clas"
        "clas_img clas_list";
    grid-gap: 50px 10px;
}

.clas_coctel {
    margin: 0 !important;
    grid-area: clas;
    font-size: 30px;
}

.clas_coctel_img {
    grid-area: clas_img;
}

.clas_coctel_list {
    grid-area: clas_list;
}

@media only screen and (max-width: 994px) {
    .clas_coctel {
        overflow: auto;
    }
}

@media only screen and (max-width: 966px) and (min-width: 560px) {
    .grilla {
        grid-template-rows: 20% 40% 40%;
        grid-template-columns: 100%;
        grid-template-areas:
            "clas"
            "clas_img"
            "clas_list";
    }

    .clas_coctel_list {
        overflow: auto;
        padding-bottom: 20px;
    }

    .clas_coctel_img {
        padding-top: 10px;
        overflow: auto;
    }

}

@media only screen and (max-width: 560px) {
    .grilla {
        grid-template-rows: 20% 30% 50%;
        grid-template-columns: 100%;
        grid-template-areas:
            "clas"
            "clas_img"
            "clas_list";
    }

    .clas_coctel_list {
        overflow: auto;
        padding-bottom: 20px;
    }

    .clas_coctel_img {
        padding-top: 10px;
        overflow: auto;
    }

}


/* GRILLA */

/* GRILLA 2 */
.grilla2 {
    display: grid;
    grid-template-rows: 200px 200px 150px 150px;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-template-areas:
        "img1 img2 img5 img4"
        "img1 img2 img5 img4"
        "img1 img3 img7 img6"
        "img1 img3 img7 img6";
    grid-gap: 10px;
    padding-inline: 20px;
    /* padding: 20px; */
    /* background-color: #d15cff; */
}

.img1 {
    grid-area: img1;
    background-image: url(../Assets/shirleyTemple.jpg);
}

.img2 {
    grid-area: img2;
    background-image: url(../Assets/MicheladaSinAlcohol.jpg);
}

.img3 {
    grid-area: img3;
    background-image: url(../Assets/LimonadaDePiña.jpg);
}

.img4 {
    grid-area: img4;
    background-image: url(../Assets/LimonadaALaAmericana.jpg);
}

.img5 {
    grid-area: img5;
    background-image: url(../Assets/LimonadaDeFrambuesa.jpg);
}

.img6 {
    grid-area: img6;
    background-image: url(../Assets/SmoothieDeMango.jpg);
}

.img7 {
    grid-area: img7;
    background-image: url(../Assets/TéVerde.jpg);
    background-position: bottom;
}

.imgGrilla2 {
    border: 5px solid white;
    background-size: cover;
    background-position: center;
    border-radius: 7px;
    transition: all 0.4s;
}

.imgGrilla2:hover {
    transform: scale(1.05);
    filter: contrast(105%);
}

@media only screen and (max-width: 900px) {
    .grilla2 {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 200px);

        grid-template-areas:
            "img1 img2"
            "img1 img3"
            "img4 img5"
            "img6 img7";
    }

}

/* GRILLA 2*/

.formulario {
    padding-left: 500px;
    padding-right: 500px;
    padding-top: 70px;
}

/* COCTELES SIN ALCOHOL */

@media only screen and (max-width: 768px) {
    .titulos {
        text-align: center;
    }
}

.imgCoctelSinAlcochol {
    height: 700px;
}

/* COCTELES SIN ALCOHOL */


